doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="assets/css/normalize.css")
		link(rel="stylesheet", href="assets/css/styles.css")
		link(rel="icon", type="image/png", href="assets/img/favicon.png")
		title Yair Rodríguez | Front End Software Engineer
		script(src="assets/js/modernizr.js")
	body
		main.paper
			header.top-header
				.logo
					h1 Yair Rodríguez
					span Front End Software Engineer
				.address
					div
						p Address
					div
						p Av/Nuevo León, Roma Norte
						p 06700,
						p Cuautémoc. MEXICO.
				.contact
					div
						p Contact
					div
						p rodriguezortega.yair@gmail.com
						p +52 556 25 15 420
						p: a(href='')@imyairodriguez
			article.archievements
				div.col-1
					section.section
						header.section-header
							h2 Personal Statement
						div.section-body
							p I'm a 23 years old Front End Architect & Freelance Full Stack Developer from Hidalgo (Mexico) currently based in Distrito Federal. I love everything that has to do with building responsive and elegant web applications.
							p I have strong analytical skills, an unwavering commitment to quality, a collaborative work ethic, and cutting edge coding skills.
							p I have 4 years of experience, also working as a freelance and working on an start-up jobs, but and I’m ready for visiting other countries & work for any company! I love working with people, specially if they have the same passion I have for what they do.
							p <span class='highlight'>Why don't we work together?</span> Go futher down to see why I am the man you need to hire!
					section.section
						header.section-header
							h2 My Specialities
						div.section-body.circles
							.circle
								img.topic(src='assets/img/bulb.svg', alt='Logo Design')
								.rect
								p Front-end
							.circle
								img.topic(src='assets/img/branding.svg', alt='Branding')
								.rect.rect-lg
								p Backend
							.circle
								img.topic(src='assets/img/layout.svg', alt='Minimal Web Design')
								.rect
								p Data Visualization
					section.section
						header.section-header
							h2 Programming Skills
						div.section-body.design
							.technical
								header
									p 01 Computer
								.body
									.skill
										p HTML (Jade, Haml)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p CSS pre-processing (Sass, Less, Stylus)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p CSS frameworks (Bootstrap, Foundation)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p JavaScript Tasker (Gulp, Grunt)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
									.skill
										p JavaScript Libraries (React, Polymer, jQuery, Handlebars)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
									.skill
										p JavaScript Frameworks (Angular, Backbone)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
											span
									.skill
										p Backend (PHP, Python, Ruby)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
									.skill
										p Backend Frameworks (RoR, Laravel)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
									.skill
										p Databases (MySQL, SQL Server, Postgres, MongoDB, Redis)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
									.skill
										p Version Control (Git, GitHub)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p Testing (TDD, BDD)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p PHP Testing (PHPSpec, Behat, PHPUnit, Codeception)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
									.skill
										p JavaScript Testing (Mocha, Cucumber)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
									.skill
										p APIs (Behance, Spotify, Facebook, Twitter)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
									.skill
										p Data Visualization (D3.js)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
											span
											span
									.skill
										p Other tools (Trello, Composer, ORMs)
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
							.knowledge
								header
									p 02 Knowledge
								.body
									label Development experience designing Object Oriented.
									label Familiarity with the whole web stack, including Web Optimization, DBA Analyst.
									label Experience with web technologies and with the latest web standards.
									label Experience with modern JavaScript frameworks (such as Angular, Backbone).
									label Experience with a scripting language.
									label Experience working in UNIX environment.
									label Strong sense of Front-end code quality.
									label Ability to comunicate to all levels of users (internal and external), strong problem-solving skills, adaptable, proactive and willing to take ownership.
									label Strong sense of Responsive Web Design, Mobile First, Adaptive Design.
					section.section.language
						header.section-header
							h2 Language Skills
						div.section-body
							.circle.expert
								.content
									label Spanish
									span Mother language
							.circle.middle
								.content
									label English
									span Medium level
							.circle.beginner
								.content
									label French
									span Basic level
				div.col-2
					section.section
						header.section-header
							h2 Education
						div.section-body.timeline
							div
								span From October 2015 to December 2015
								span HTML5 Certification (by W3C).
								span Coursera, San Francisco.
							div
								span From July 2015 to September 2015
								span Web Optimization Performance (by Google)
								span Coursera, San Francisco.
							div
								span From October 2014 to March 2015
								span Laravel.
								span Laracasts School.
							div
								span From December 2013 to present
								span Front-end Career.
								span Tuts+, Codeschool, Coursera.
							div
								span From 2010 to 2014
								span 4 years of BS degree in Computer Science.
								span Universidad Tecnológica, Mexico.
					section.section
						header.section-header
							h2 Work Experience
						div.section-body.work-experience
							.work
								span.year 1
								div
									span From Abril 2015 to actual
									span Front-end Developer.
									span Ln(phi)
							.work
								span.year 1
								div
									span From January 2015 to November 2015
									span Front-end Architect.
									span Travelnet Web
						div.section-body.work-experience
							.work
								span.year 2
								div
									span From January 2014 to present
									span Full Stack Web Developer
									span Freelance
					section.section
						header.section-header
							h2 Side Projects and Publications
						div.section-body
							.prime
								span.icon
									img(src='assets/img/recognition.svg', alt='Remus Logo Design')
								div
									span Social Network with Laravel
									span Facebook clone built in PHP.
									span yairodriguez.com/Facebook
							.prime
								span.icon
									img(src='assets/img/recognition2.svg', alt='Remus Logo Design')
								div
									span Los Whatsapp de mi Mamá
									span Novel writen in HTML/CSS.
									span yairodriguez.com/Whatsapp
							.prime
								span.icon
									img(src='assets/img/recognition2.svg', alt='Remus Logo Design')
								div
									span Google Hangouts (Re)design
									span Re-designing the Messaging App for fun.
									span yairodriguez.com/GoogleHangouts
							.prime
								span.icon
									img(src='assets/img/recognition2.svg', alt='Remus Logo Design')
								div
									span Bejeweled
									span A match-three puzzle game built with WebGL
									span yairodriguez.com/Bejeweled
							.prime
								span.icon
									img(src='assets/img/recognition2.svg', alt='Remus Logo Design')
								div
									span LinkedIn
									span Re-designing LinkedIn and built with latest web technologies.
									span yairodriguez.com/LinkedIn
			section.section
				header.section-header
					h2 Hobbies & Interest
				div.section-body
					.row
						.circle-small
							.hobby
								img(src='assets/img/cinema.svg', alt='Cinema')
								span Cinema
						.circle-small
							.hobby
								img(src='assets/img/beer.svg', alt='Beer')
								span Cyclist
						.circle-small
							.hobby
								img(src='assets/img/music.svg', alt='Music')
								span Music
						.circle-small
							.hobby
								img(src='assets/img/game.svg', alt='Videogames')
								span Games
						.circle-small
							.hobby
								img(src='assets/img/theatre.svg', alt='Theatre')
								span Theatre
						.circle-small
							.hobby
								img(src='assets/img/plane.svg', alt='Travelling')
								span Travel
						.circle-small
							.hobby
								img(src='assets/img/batman.svg', alt='Batman')
								span iOS
						.circle-small
							.hobby
								img(src='assets/img/fitness.svg', alt='Fitness')
								span Fitness
						.circle-small
							.hobby
								img(src='assets/img/money.svg', alt='Money')
								span Money
						.circle-small
							.hobby
								img(src='assets/img/books.svg', alt='Books')
								span Books
			p.copy Made with <span class='highlight'><3</span> & built in HTML and CSS by Yair Rodríguez