doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="assets/css/normalize.css")
		link(rel="stylesheet", href="assets/css/styles.css")
		link(rel="icon", type="image/png", href="assets/img/favicon.png")
		title Fernando Baéz | Graphic & Web Designer
		script(src="assets/js/modernizr.js")
	body
		main.paper
			header.top-header
				.logo
					h1 Fernando Báez
					span Graphic & Web Designer
				.address
					div
						p Address
					div
						p C/Magallanes 21, 7ºF
						p 28015,
						p Madrid. SPAIN.
				.contact
					div
						p Contact
					div
						p fernando@justcreativeideas.com
						p +34 650 39 25 19
						p @fernandobaez88
			article.archievements
				div.col-1
					section.section
						header.section-header
							h2 Personal Statement
						div.section-body
							p I'm a 25 years old Art Director & Freelance Designer from Valladolid (Spain) currently based in Madrid. I love everything that has to do with Web design & development, Graphic design, Packaging, Industrial design and I feel a true devotion for typography.
							p I have 4 years of experience working as a freelance and working on an studio, but and I’m ready for visiting other countries & work for any design studio! I love working with people, specially if they have the same passion I have for what they do.
							p Why don't we work together? Go futher down to see why I am the man you need to hire!
					section.section
						header.section-header
							h2 My Specialities
						div.section-body.circles
							.circle
								img.topic(src='assets/img/bulb.svg', alt='Logo Design')
								.rect
								p Logo Design
							.circle
								img.topic(src='assets/img/branding.svg', alt='Branding')
								.rect.rect-lg
								p Branding
							.circle
								img.topic(src='assets/img/layout.svg', alt='Minimal Web Design')
								.rect
								p Minimal Web Design
					section.section
						header.section-header
							h2 Design Skills
						div.section-body.design
							.technical
								header
									p 01 Computer
								.body
									.skill
										p Adobe Photoshop
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p Adobe Illustrator
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p Adobe InDesign
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
									.skill
										p Adobe Dreamweaver
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p Adobe Flash
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
									.skill
										p HTML & CSS
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p JavaScript & jQuery
										.bullets
											span.fill
											span.fill
											span.fill
											span
											span
											span
											span
											span
									.skill
										p AVID Media Composer
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
											span
									.skill
										p AutoCAD
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p Catia
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
											span.fill
									.skill
										p Cinema 4D
										.bullets
											span.fill
											span.fill
											span.fill
											span.fill
											span
											span
											span
											span
							.knowledge
								header
									p 02 Knowledge
								.body
									label Grid & Layout.
									label Good sense for typography.
									label Color theory knowledge.
									label Image editing.
									label Web usability.
									label Interface Design.
									label Google Analytics % SEO.
					section.section.language
						header.section-header
							h2 Language Skills
						div.section-body
							.circle.expert
								.content
									label Spanish
									span Mother language
							.circle.middle
								.content
									label English
									span Advanced level
							.circle.beginner
								.content
									label French
									span Basic level
				div.col-2
					section.section
						header.section-header
							h2 Education
						div.section-body.timeline
							div
								span From September 2010 to September 2013
								span Industrial Design.
								span Universidad Antonio de Nebrija, Madrid.
							div
								span From April 2010 to July 2010
								span Advanced Graphic Design.
								span Aula Creativa, Design School. Madrid.
							div
								span From April 2010 to July 2010
								span Advanced Web Design.
								span Aula Creativa, Design School. Madrid.
							div
								span From 2006 to 2010
								span 4 years of computer programming.
								span Universidad Antonio de Nebrija, Madrid.
					section.section
						header.section-header
							h2 Work Experience
						div.section-body.work-experience
							.work
								span.year 1
								div
									span From 2013 to 2014
									span Art Director.
									span Distrito 01 (d01.es)
							.work
								span.year 4
								div
									span From 2009 to 2014
									span Graphic & Web Designer.
									span Freelance.
					section.section
						header.section-header
							h2 Recognitions
						div.section-body
							.prime
								span.icon
									img(src='assets/img/recognition.svg', alt='Remus Logo Design')
								div
									span Remus Logo Design
									span Internal contest. One of three finalist.
									span Universidad Antonio de Nebrija. Madrid.
							.prime
								span.icon
									img(src='assets/img/recognition2.svg', alt='Remus Logo Design')
								div
									span Vino de Toro (Toro Wine) Label Design
									span Nacional contest. One of the 15 finalist. Went to final round.
									span Vino de Toro.
					section.section
						header.section-header
							h2 Hobbies & Interests
						div.section-body
							.row
								.circle-small
									.hobby
										img(src='assets/img/cinema.svg', alt='Cinema')
										span Cinema
								.circle-small
									.hobby
										img(src='assets/img/beer.svg', alt='Beer')
										span Beer
								.circle-small
									.hobby
										img(src='assets/img/music.svg', alt='Music')
										span Music
								.circle-small
									.hobby
										img(src='assets/img/game.svg', alt='Videogames')
										span Games
								.circle-small
									.hobby
										img(src='assets/img/theatre.svg', alt='Theatre')
										span Theatre
							.row
								.circle-small
									.hobby
										img(src='assets/img/plane.svg', alt='Travelling')
										span Travel
								.circle-small
									.hobby
										img(src='assets/img/batman.svg', alt='Batman')
										span Batman
								.circle-small
									.hobby
										img(src='assets/img/fitness.svg', alt='Fitness')
										span Fitness
								.circle-small
									.hobby
										img(src='assets/img/money.svg', alt='Money')
										span Money
								.circle-small
									.hobby
										img(src='assets/img/books.svg', alt='Books')
										span Books